#ticket-section {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  position: relative;
  background: transparent url(assets/lead-vocalist-tickets.png) no-repeat;
  background-size: contain;
  background-position-x: right;
  .ticket-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;

    .ticket-content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      .buy-button-wrapper {
        margin-top: 1.3rem;
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          background-color: $mainRedColor;
          color: white;
          padding: 1.7rem;
          border-radius: 5px;
        }
      }
      .concert-wrapper {
        display: inline-block;
        flex-direction: column;
        .concert-name-wrapper {
          margin-bottom: 0.8rem;
          .concert-name {
            color: §mainGrayColor;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        .concert-details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .concert-date {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $mainRedColor;
            opacity: 0.8;
          }
          .concert-location {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $mainRedColor;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
