@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  height: 100vh;
  background: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

header .hero-bg-image {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  top: 100px;
}

header .hero-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero-content .header-circle {
  width: 500px;
  height: 500px;
  background-color: #de4735;
  border-radius: 50%;
  z-index: 1;
}

header .hero-content img {
  position: absolute;
  z-index: 2;
}

.official-links {
  width: 100vw;
  height: 100%;
  padding: 20px 0px;
}

.official-links .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.official-links .links-wrapper .item {
  width: 25%;
  opacity: 0.5;
}

.official-links .links-wrapper .item:hover {
  opacity: 0.8;
}

.official-links .links-wrapper .item a {
  text-decoration: none;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.official-links .links-wrapper .item a img {
  width: 25px;
  margin-right: 20px;
}

#bio-section {
  width: 100%;
  height: 100%;
  background-color: #252525;
}

#bio-section .bio-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bio-section .bio-container:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#bio-section .bio-container .bio-image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: auto;
}

#bio-section .bio-container .image-align-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bio-section .bio-container .bio-content {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#bio-section .bio-container .bio-content .content-wrapper {
  width: 90%;
  height: 100%;
  background-color: #de4735;
  padding: 4rem 2rem;
}

#bio-section .bio-container .bio-content .content-wrapper h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: 600;
  color: white;
}

#bio-section .bio-container .bio-content .content-wrapper p {
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 150%;
  opacity: 0.6;
  color: white;
}

#bio-section .bio-container .bio-content .content-wrapper h3 {
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

#bio-section .bio-container .content-align-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#ticket-section {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  position: relative;
  background: transparent url(assets/lead-vocalist-tickets.png) no-repeat;
  background-size: contain;
  background-position-x: right;
}

#ticket-section .ticket-wrapper {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem;
}

#ticket-section .ticket-wrapper .ticket-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ticket-section .ticket-wrapper .ticket-content .buy-button-wrapper {
  margin-top: 1.3rem;
}

#ticket-section .ticket-wrapper .ticket-content .buy-button-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #de4735;
  color: white;
  padding: 1.7rem;
  border-radius: 5px;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper .concert-name-wrapper {
  margin-bottom: 0.8rem;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper .concert-name-wrapper .concert-name {
  color: §mainGrayColor;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper .concert-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper .concert-details .concert-date {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #de4735;
  opacity: 0.8;
}

#ticket-section .ticket-wrapper .ticket-content .concert-wrapper .concert-details .concert-location {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #de4735;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */